/*custom styles for desktop*/
body {
    background-color: #f7f7ff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 100px;
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.h1boss {
    margin: 0;
    padding-left: 100px;
}

input[type="submit"]{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.startp {
    font-size: 20px;
    width: 450px;
    margin-left: 100px;
}

.scoot {
   display: flex;
   justify-content: center;
   align-items: center;
}

.calbtn {
    background-color: #ff8480;
    color: white;
    font-style: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* the border radius functions is what controls how the corners of of a contailner look, the higher the number, the rounder the corners become*/

#hours,
#city {
    width: 50px;
    height: 35px;
    color: lightgray;
    margin-left: 20px;
    padding-right: 140px;
    background-color: #f7f7ff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subbtn {
    background-color: #57eeab;
    font-size: 20px;
    font-style: bold;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*this is linked to the <span> in the html to make only part of the paragraph red. It targets the seleted chunk of text and makes it more important. You can alos use Emphasize*/

.red {
    color: #ff8480;
}

.logo {
    width: 70px;
    margin-left: 100px;
}

footer {
    background-color: #fffd8c;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.calculate h2,
p {
    font-family: 'Montserrat', sans-serif;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.signf {
    background-color: white;
    border-radius: 25px;
    width: 400px;
    margin-bottom: 50px;
    height: 450px;
    box-shadow: 5px 10px 9px #333133;
}

/* box shadow is what makes that drop shadow effect on the apply now container, the first two values control the width for the bottom (1) and right (2), while the third value I added changed the opacity to make it more faded*/ 

.signf #fname,
#lname,
#email,
#phone {
    width: 200px;
    height: 35px;
    color: lightgray;
    margin-left: 20px;
    padding-right: 140px;
    background-color: #f7f7ff;
    border: none;
    border-radius: 5px;
}

.signf .subbtn,
#terms,
p,
h2 {
    margin-left: 20px;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

/*custom styles for tablets */
@media screen and (max-width: 768px) {
    .startp {
        width: 500px;
    }

    .signup {
        display: flex;
        align-items: center;
    }

    .socials {
        display: flex;
        align-items: flex-end;
    }

}

/* custom syles for mobile, this is supposed to be around 360 px, but my webbrowser doesnt shrink down that far so I wouldnt be able to see if what im doing is working as liveserver only works on your computer*/

@media screen and (max-width: 500px) {
    h1 {
        display: inline-block;
        font-size: 80px;
        margin-right: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: flex-start;
    }

    .startp {
        width: 290px;
        display: flex;
        justify-content: flex-start;
        margin-left: 80px;
    }

    footer {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .calbtn {
        display: flex;
        align-content: center;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 50px;
    }

    .socials {
        display: flex;
        justify-content: space-evenly ;
        padding: 20px;
    }

    .calculate h2,
    p {
        width: 300px;
    }
/* this was uses to fix the issue where there was whitespace to the rightof the site. All content was targeted and outlined bright red, so that the issue would stick out. The problem was the width of the h1 tag and has now been resolved.

    *{
        outline: 1px solid red;
    }
    
    */
}

