h1{
    background: indianred url(../images/lone-starfish-wide.jpg) no-repeat center center;
    background-size: cover;
    height: 9em;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
body {
    font-family: sans-serif;
    background-color: #aad4cf;
}
section {
    border: .1rem solid black;
    padding: 1em 1em .5em 1em;
    width: 45rem;
}
.SEND {
  width: 6%;
  height: 6%;
  padding: .5em .5em .5em .5em;
  border: .1rem solid black
}
input[type="text"] {
    padding: .5em .5em .5em .5em;
    width: 53em;
}
textarea {
    width: 100%;
    height: 7em;
}
input[type="email"] {
    padding: .5em .5em .5em .5em;
    width: 53em;
}
footer {
    text-align: right;
    padding: 1.5em 1em 1em 1em;
}
nav ul{
    background-color: #D4E9E7;
}
nav ul a {
    text-decoration: none;
    font-size: 1.75rem;
    color: black;
}
nav ul li {
    display: inline-block;
    width: 25%;
    padding: 1em;
    box-sizing: border-box;
}
main {
    background-color: #D4E9E7;
}
footer {
    background-color: #D4E9E7;
}
input[type="text"],
a {
    display: block;
}
input[type="email"],
a {
    display: block;
}
img {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.Story {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.container {
    max-width: 765px;
    margin: 0 auto;
}
