@media screen and (max-width: 768px) {
body #nav {
    background-color:#430F11;
    border: none;
    text-align: left;
}

body #nav a {
    color: #E26D5C;
}

body #about {
    background-color: #003049;
    padding-left: 10px;
}

body #home {
    background-color: #003049;
}

body #contact {
    background-color: #003049;
    text-align: center;
}

body .contact-form {
    background-color: #430F11;
    width: 60%;
    color: #E26D5C;
    text-align: left;
}

.home h1 {
    color: white;
}
}