/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles for mobile */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #222;
    color: white;
}
h1{
    font-size: 600%;
    font-weight: bold;
    padding-top: 15%;
    padding-bottom: 9%;
    padding-left: 2%;
}

nav{
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
}

.header p{
    padding-bottom: 20px;
    padding-left: 2%;
}

.header button{
    margin-bottom: 20px;
    margin-left: 2%;
}

a{
    text-decoration: none;
    color:#c78c06;
}

.Home a{
    color: #222;
}

.Home{
    padding-bottom: 40px;
    padding-top: 25%;
    color: #222;
    background-color: #c78c06;
}

.About{
    padding-bottom: 50px;
    padding-top: 25px;
}

.Services{
    padding-bottom: 50px;
}

.Team{
    padding-bottom: 50px;
}

.Contact{
    padding-bottom: 50px;
}

.stars{
    float: left;
    position: absolute;
    top: 60px;
    left:  16px;
}

.search{
    width: 93%;
    height: 39px;
    margin-left: 3px;
    font-size: 20px;
}

input [type="button"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
#search button{
    width: 50%;
}

.headerdown{
  background: tomato url(../images/images/main-banner.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headertext{
    background-color: rgba(0,0, 0, 0.5);
}
 
.connectbtn{
    color: #222;
    background-color: #c78c06;
    border: none;
    width: 250px;
    height: 80px;
    font-size: 24px;
}

.about{
    background-color: #ffe6ac;
}

.pong{
    width: 830px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.about h2{
    font-size: 60px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 20px;
}
.about p{
    padding-left: 20px;
    padding-bottom: 20px;
}

.our h2{
    font-size: 60px;
    font-weight: bolder;
    padding-left: 1px;
    padding-bottom: 20px;
}

.services{
    width: 820px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.digform{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 825px;
    height: 700px;
}