/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles for mobile */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #222;
    color: white;
}
h1{
    font-size: 600%;
    font-weight: bold;
    padding-top: 15%;
    padding-bottom: 9%;
    padding-left: 2%;
}

nav{
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
}

.header p{
    padding-bottom: 20px;
    padding-left: 2%;
}

.header button{
    margin-bottom: 20px;
    margin-left: 2%;
}

a{
    text-decoration: none;
    color:#c78c06;
}

.Home a{
    color: #222;
}

.Home{
    padding-bottom: 40px;
    padding-top: 25%;
    color: #222;
    background-color: #c78c06;
}

.About{
    padding-bottom: 50px;
    padding-top: 25px;
}

.Services{
    padding-bottom: 50px;
}

.Team{
    padding-bottom: 50px;
}

.Contact{
    padding-bottom: 50px;
}

.stars{
    float: left;
    position: absolute;
    top: 60px;
    left:  16px;
}

.search{
    width: 850px;
}

.searchbox{
    width: 800px;
    height: 25px;
    font-size: 20px;
}

input [type="button"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.search button{
    width: 5%;
    height: 50px;
    background-color: #222;
    border: 1px solid #c78c06;
    margin-top: 10px;
}

form.search{
    display: inline-flex;
}

.im{
    color: #c78c06;
}

.headerdown{
  background: tomato url(../images/images/main-banner.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headertext{
    background-color: rgba(0,0, 0, 0.5);
}
 
.connectbtn{
    color: #222;
    background-color: #c78c06;
    border: none;
    width: 250px;
    height: 80px;
    font-size: 24px;
}

.about{
    background-color: #ffe6ac;
}

.pong{
    width: 830px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.about h2{
    font-size: 60px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 20px;
}
.about p{
    padding-left: 20px;
    padding-bottom: 20px;
}

.our h2{
    font-size: 60px;
    font-weight: bolder;
    padding-left: 1px;
    padding-bottom: 20px;
}

.services{
    width: 820px;
    padding-left: 4px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 10px;
    margin-bottom: 0;
}

.digform{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 809px;
    height: 220px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.digform h3{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.digform p{
    padding-bottom: 50px;
}

.plansbtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.laptop{
    width: 840px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.market{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 220px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.market h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.market p{
    padding-bottom: 50px;
}

.marketbtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.phone{
    width: 840px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.youtube{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 220px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.youtube h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.youtube p{
    padding-bottom: 50px;
}

.videobtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pen{
    width: 840px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.notepad{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 220px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.notepad h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.notepad p{
    padding-bottom: 50px;
}

.webbtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.print{
    width: 820px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.news{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 220px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.news h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.news p{
    padding-bottom: 50px;
}

.printbtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.ourvision{
    background: tomato url(../images/images/vision.jpg)no-repeat center center;
    background-size: cover;
    height: 350px;
    width: 880px;
    margin-bottom: 50px;
}

.ourvisiontext{
    color: white;
    padding-left: 20px;
}

.ourvisiontext h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 0;
}

.ourvisiontext p{
    padding-bottom: 50px;
}

.visionbtn{
    color: white;
    background-color: #222;
    border: none;
    width: 800px;
    height: 900px;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 5px;
    border: 1px solid #c78c06;
    padding-bottom: 20px;
    padding-top: 20px;
}

.meet h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.johnimage{
    width: 860px;
}

.johninfo{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 150px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.johninfo h3{
    padding-bottom: 5px;
    border-bottom: 2px solid #c78c06;
    font-weight: bolder;
}

.johninfo p{
    padding-top: 15px;
}

.bobimage{
    width: 860px;
}

.bobinfo{
    background-color: #ffe6ac;
    padding-bottom: 50px;
    width: 840px;
    height: 150px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 20px;
}

.bobinfo h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.bobinfo h3{
    padding-bottom: 5px;
    border-bottom: 2px solid #c78c06;
    font-weight: bolder;
}

.bobinfo p{
    padding-top: 15px;
}

.conect h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.im-play{
    color: white;
}

.conect h3{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 30px;
}

#fullname{
    margin-bottom:15px;
    margin-top:7px;
    margin-left: 0;
}

#youremail{
    margin-bottom: 15px;
    margin-top: 7px;
}

#message {
    margin-top: 15px;
    margin-bottom: 7px;
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
}
textarea {
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    height: 10em;
}
input[type="email"] {
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
}

.conect{
    margin-right: 60px;
    padding-left: 20px;
}

.submitbtn{
    width: 70px;
    height: 50px;
    font-size: 24px;
    background-color: #222;
    border: none;
    color: #c78c06;
    margin-bottom: 20px;
}

.table th{
    background-color: #ffe6ac;
    height: 30px;
    padding-top: 15px;
}

.table{
    border: 1px solid black;
    padding-top: 30px;
    table-layout: auto;
    margin-bottom: 20px;
}

.table tr{
    border: 1px solid black;
}

.table td{
    border: 1px solid black;
    padding-right: 20px;
}

.location h2{
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.location{
    padding-left: 20px;
}

.footer{
    background-color: #222;
    color: #c78c06;
    padding-top: 40px;
    padding-bottom: 30px;
}

.copyright{
    padding-top: 20px;
}

/*----------desktop styles--------*/

@media screen and (min-width: 760px){
    .Home{
        background-color: #222;
        margin-right: 500px;
        margin-top: -165px;
    }
    .Home a{
        background-color: #c78c06;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .About{
        margin-right: 200px;
        margin-top: -90px;
    }

    .Services{
        margin-left: 50px;
        margin-top: -75px;
    }

    .Team{
        margin-left: 250px;
        margin-top: -75px;
    }

    .Contact{
        margin-left: 450px;
        margin-top: -75px;
    }

    .stars{
        margin-left: 20px;
    }

   .search{
       width: 300px;
       margin-left: 770px;
       margin-top: -100px;
   }

   .search button{
       width: 50px;
   }
   
   .pong{
       width: 500px;
       float: left;
   }

   .infoabout{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    margin-bottom: 20px;
   }

   .theservice h2,
   h3{
       font-size: 25px;
   }

   .theservice{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "heading heading heading heading heading heading"
    "digi digi digi marketing marketing marketing"
    "video video web web print print";
    gap: 1em;
}

.about::after{
    content: "";
    clear: both;
    display: table;
}


}